:root 
{
    --color-1: hsl(219, 43%, 16%);
    --color-2: hsl(218, 20%, 36%);
    --color-3: hsl(30, 33%, 93%);
    --color-4: hsl(30, 29%, 97%);
    --color-5: hsl(264, 100%, 69%);
    --color-6: hsl(292, 76%, 54%);
    --color-7: hsl(31, 100%, 65%);
}

body {
    margin: 0;
    font-family: "Epilogue", sans-serif;
    background-color: #F2F2F2;
}


.heading-xl 
{
    font-size: 2.375rem;
    line-height: 1.15;
    font-weight: normal;
    letter-spacing: -0.0139em;
}

.heading-l 
{
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: -0.0105em;
}

.heading-m 
{
    font-size: 1.125rem;
    line-height: 2;
    font-weight: bold;
    letter-spacing: -0.01em;
}
.heading-s 
{
    font-size: 1rem;
    line-height: 1.625;
    font-weight: normal;
    letter-spacing: 0.156em;
}


.quote 
{
    font-size: 1.125rem;
    line-height: 1.7;
    letter-spacing: 0.005em;
    color: var(--color-3);
}

.body 
{
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.005em;

}

.footer-text 
{
    font-size: .9375rem;
    line-height: 2.13;
    letter-spacing: 0.005em;
}




.btn-1 {
    padding: .83em 1.77em;
    font-size: 1.125rem;
    background:var(--color-1);
    color: var(--color-4);
    border: none;
    border-radius: 8px;
    transition: background 300ms;
    cursor: pointer;
}

.btn-1:hover 
{
    background: linear-gradient(135deg, var(--color-5), var(--color-6), var(--color-7));

}


.btn-2 
{
    padding: .85em 1.14em;
    font-size: .875rem;
    background-color: transparent;
    color: var(--color-1);
    border: solid 1px var(--color-1);
    border-radius: 8px;
    transition:background-color 300ms;
    cursor: pointer;
}

.btn-2:hover {
    background-color: var(--color-1);
    color: var(--color-4);
}


.social_icon {
    cursor: pointer;
    transition: opacity 300ms;
}
.social_icon:hover{
    opacity: 50%;
}



.header {
    padding: 2em 4.2% 3.5em ;
}

.header_top 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.18em;
}


.title {
    color: var(--color-1);
}



.title .line 
{
    position: relative;
}

.title .line::after
{
    content: '';
    background-image: url(./assets/pattern-curved-line-1.svg);
    background-size: cover;
    height: 19px;
    width: 100%;
    position: absolute;
    left:0px;
    top: -.6em;
}


.hero_body {
    color: var(--color-2);
}

.hero_content {
    margin-bottom: 3.43em;
}

.img-hero--tablet 
{
    display: none;
}

.img-hero--mobile 
{
    width: 100%;
    max-width: 700px;
}

.statistics 
{
    text-align: center;
}

.stat_value {
    font-weight: bold;
    margin-bottom: 0;
}

.stat_label {
    margin-top: 0;
    text-transform: uppercase;
    color: var(--color-2);
}


.intro {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 11.25em auto auto;
    color: var(--color-4);
    text-align: center;
}

.intro_top 
{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.intro_bottom{
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-color: var(--color-1);
    border-radius: 12px;
}

.img-jeremy--small {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    width: 67.2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 486px;
}

.intro_text {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    padding: 0 4.2% 3.93em;
    position: relative;
    margin-top: 7.3em;
}
.intro_text::after {
    content: '';
    position: absolute;
    top: -4em;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 40px;
    background-image: url(./assets/pattern-curved-line-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.img-jeremy--large {
    display: none;
}


.quote_name 
{
    text-transform: uppercase;
    margin-bottom: 0;
}

.quote_pos {
    margin-top: 0;
}


.footer {
    text-align: center;
    padding: 3.5em 0% 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}


.social {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.75em;
}



@media (min-width: 768px)
{
    .heading-xl 
    {
        font-size: 3.5rem;
        line-height: 1.14;
        letter-spacing: 0.0139em;
    }

   
    .header 
    {
        padding: 2.5em 5% 5.75em;
    }
  
    .header_top 
    {
        margin-bottom: 5em;
    }

    .hero {
        display: grid;
        grid-template-columns: auto 40%;
        grid-row: auto;
        align-items: center;
    }

    .hero_content {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 1;
        max-width: 573px;
    }
    .hero_body 
    {
        max-width: 350px;
    }

    .img-hero--mobile {
        display: none;
    }

    .img-hero--tablet {
        display: inherit;
        grid-column: 2 / -1;
        grid-row: 1/ -1;
        width: 100%;
    }


    .statistics {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }

    .stat {
        width: 33%;
    }
    


   

    .intro {

        background-image: url(./assets/pattern-blur.svg);
        background-position: top center;
        background-repeat: no-repeat;
    }

    .intro_bottom 
    {
        z-index: -1;
    }
    .intro_text {

        padding: 0 5% 4em;
    }

    .img-jeremy--small 
    {
        width: 32%;
    }

   

    .footer {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 4.5em 5%;
    }
   
}


@media (min-width: 1440px)
{
    .heading-xl 
    {
        font-size: 4.5rem;
        line-height: 1.08;
        letter-spacing: -.013;
    }

    .haeding-l 
    {
        font-size: 3rem;
        line-height: 1.16;
        letter-spacing: -0.01;
    }

    .body {
        font-size: 1.125rem;
        line-height: 1.7;
        letter-spacing: 0;
    }

    .quote 
    {
        font-size: 1.25rem;
        line-height: 1.75;
        letter-spacing: 0;
    }

    .header {
        padding: 3.125em 11.4% 9em;
    }

    .hero {
        display: grid;
        grid-template-columns: auto 31% auto;
        grid-template-rows: auto;
        grid-column-gap: 8.6%;
    }



    .hero_content {
        grid-column: 1 / 3;
        max-width: 635px;
    }

 

    .img-hero--tablet 
    {
        grid-column: 2 / 3;
    }

    .statistics {
        grid-column: 3 / -1;
        justify-self: center;
        flex-direction: column;
        gap: 3.9em
    }
    

    .intro {
        grid-template-columns: 10.54% 33.94% 12.8% 31% 11.44%;
        grid-template-rows: 3.57em auto;
        width: 100%;
        background-position: calc(0px + 5em) calc(50% + 2em);
        background-size: 50%;
    }
   
    .img-jeremy--large {
        display: inherit;
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        width: 100%;
        max-width: 722px;
    }

    .img-jeremy--small {
        display: none;

    }


    .intro_text {
        grid-column: 4 / -2;
        grid-row:  1 / -1;
        align-self: center;
        text-align: left;
        padding: 0;
    }


    .intro_text::after {
        left: -7em;
        top:50%;
        transform: translateY(-50%);
    }
    
   

    .footer {
        padding: 5.93em 11.4% 4.5em;

    }



    
}