:root 
{
    --color-1: hsl(219, 43%, 16%);
    --color-2: hsl(218, 20%, 36%);
    --color-3: hsl(30, 33%, 93%);
    --color-4: hsl(30, 29%, 97%);
    --color-5: hsl(264, 100%, 69%);
    --color-6: hsl(292, 76%, 54%);
    --color-7: hsl(31, 100%, 65%);
}

body {
    margin: 0;
    font-family: "Epilogue", sans-serif;
    background-color: #F2F2F2;
}


.heading-xl 
{
    font-size: 2.375rem;
    line-height: 1.15;
    font-weight: normal;
    letter-spacing: -0.0139em;
}

.heading-l 
{
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: -0.0105em;
}

.heading-m 
{
    font-size: 1.125rem;
    line-height: 2;
    font-weight: bold;
    letter-spacing: -0.01em;
}
.heading-s 
{
    font-size: 1rem;
    line-height: 1.625;
    font-weight: normal;
    letter-spacing: 0.156em;
}


.quote 
{
    font-size: 1.125rem;
    line-height: 1.7;
    letter-spacing: 0.005em;
    color: var(--color-3);
}

.body 
{
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.005em;

}

.footer-text 
{
    font-size: .9375rem;
    line-height: 2.13;
    letter-spacing: 0.005em;
}




.btn-1 {
    padding: .83em 1.77em;
    font-size: 1.125rem;
    background:var(--color-1);
    color: var(--color-4);
    border: none;
    border-radius: 8px;
    transition: background 300ms;
}

.btn-1:hover 
{
    background: linear-gradient(135deg, var(--color-5), var(--color-6), var(--color-7));

}


.btn-2 
{
    padding: .85em 1.14em;
    font-size: .875rem;
    background-color: transparent;
    color: var(--color-1);
    border: solid 1px var(--color-1);
    border-radius: 8px;
    transition:background-color 300ms;
}

.btn-2 :hover {
    background-color: var(--color-1);
}



.header {
    padding: 2em 4.2% 3.5em ;
}

.header_top 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.18em;
}


.title {
    color: var(--color-1);
}



.title .line 
{
    position: relative;
}

.title .line::after
{
    content: '';
    background-image: url(./assets/pattern-curved-line-1.svg);
    background-size: cover;
    height: 19px;
    width: 100%;
    position: absolute;
    left:0px;
    top: -.6em;
}


.hero_body {
    color: var(--color-2);
}

.hero_content {
    margin-bottom: 3.43em;
}

.img-hero--tablet 
{
    display: none;
}

.img-hero--mobile 
{
    width: 100%;
    max-width: 700px;
}

.statistics 
{
    text-align: center;
}

.stat_value {
    font-weight: bold;
    margin-bottom: 0;
}

.stat_label {
    margin-top: 0;
    text-transform: uppercase;
    color: var(--color-2);
}


.intro {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 11.25em auto auto;
    color: var(--color-4);
    text-align: center;
}

.intro_top 
{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.intro_bottom{
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-color: var(--color-1);
    border-radius: 12px;
}

.img-jeremy--small {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    width: 67.2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 486px;
}

.intro_text {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    padding: 0 4.2% 3.93em;
    position: relative;
    margin-top: 7.3em;
}
.intro_text::after {
    content: '';
    position: absolute;
    top: -4em;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 40px;
    background-image: url(./assets/pattern-curved-line-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.img-jeremy--large {
    display: none;
}


.quote_name 
{
    text-transform: uppercase;
    margin-bottom: 0;
}

.quote_pos {
    margin-top: 0;
}


.footer {
    text-align: center;
    padding: 3.5em 0% 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}


.social {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.75em;
}